footer {
  min-height: 50px;
}

.card {
  max-width: 50%;
}

.profile-img {
  max-width: 450px;
  max-height: 315px;
}

.icon {
  max-width: 100px !important;
  max-height: 100px;

}

.quicktrends-icon {
  max-width: 50%;
}
